%body
  %header
    %p header color: 白#ffffff
  %div.TopWrapper
    %p TopWrapper background-image
  %div.InfoWrapper
    %p color: 白#ffffff
  %div.AppWrapper
    %p background-image
  %div.FeaturesWrapper
    %p color: 白#ffffff
  %div.CategoryWrapper
    %p color: グレー#f8f8f8
  %div.BrandWrapper
    %p color: グレー#f8f8f8
  %div.DownloadWrapper
    %p background-image
  %footer
    %p color: ダーク#272727
  %div.SellerButton
    = link_to root_path 
    %span 
      出品する
    %img.icon_camera
      = image_tag "icon/icon_camera.png", alt: "出品アイコン"