%h1(class="toptytle") Home#top
%p Find me in app/views/home/top.html.haml
%p Topページになるよ？

%p logo実験
= image_tag "logo/logo.png", alt: "ロゴ写真"

%p 仮置きpicture
-# = image_tag "icon-01.png", size: "120x100", alt: "男性の写真"
= image_tag "icon/icon-01.png", alt: "男性の写真"
