// devise で作成中の
// app/views/devise以下のhamlのためのscssを記述 nonaka

// ここから paddingやborderの設定を行っても、要素の大きさがwidthやheightで指定したサイズのまま変わらなくするため固定。
* {
  box-sizing: border-box;
}
// ここまで

// 新規登録画面・ログイン画面のための変数一覧 イメージ統一用
$WhiteColor: #ffffff;
$GrayColor: #f8f8f8;
$DarkColor: #272727;
$TextColor: #333333;
$Btn_BG_Color: #3ccace;
$Required: tomato;
$TextShadow: 0 0 5px rgba(0,0,0,0.4);
// ここまで

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}


// 新規登録・ログインの文字の装飾/共通
.Devise__Header {
  background-color: $GrayColor;
}

.Devise-Header {
  color: $Required;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 80px;
}

.field {
  font-size: 20px;
}


// ここまで

// 必須アイコン（共通）
.Devise__Field--required {
  display: inline;
  background-color: $Required;
  color: $WhiteColor;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid red;
}
// ここまで

// 任意アイコン（共通）
.Devise__Field--optional {
  display: inline;
  color: $TextColor;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid $DarkColor;
}
// ここまで

// 入力蘭
.Devise__Main {
  form {
    input {
      width: 450px;
      padding: 3px 0;
      margin-bottom: 4px;
    }
  }
}

.Devise__Main {
  background-color:  $GrayColor;
  width: 80%;
  margin: 0 auto;
  // footer固定分のpadding-bottom 100px以上
  padding: 10px 10px 120px 40px;
}

// 新規登録画面・ログイン画面用の共通footer
// footerは最下部に固定 nonaka
.Devise__Footer {
  background-color: $DarkColor;
  padding: 10px 0;
  color: $WhiteColor;
  text-align: center;
  position: absolute;
  display: block;
  bottom: 0px;
  // 以下footerを固定するため記述
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 10;
  .Devise__Footer__Logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    a {
      cursor: pointer;
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
  p {
    font-size: 14px;
  }
}

// 新規登録画面app/views/devise/registration/new.html.hamlのためのScss
.Devise__Main__Info {
  color: $Required;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 15px 7px;
}

.Devise__Main__Info--2 {
  color: $Required;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0 15px 7px;
}

// 登録ボタン
.actions {
  input {
    display: block;
    cursor: pointer;
    margin: 30px 0 15px 0px;
    background-color: $Btn_BG_Color;
    color: $WhiteColor;
    font-size: 30px;
    border-radius: 5px;
    border: 2px solid $TextColor;
    padding: 4px;
  }
}

// ログイン画面app/views/devise/sessions/new.html.hamlのためのScss

.field-float {
  display: flex;
  .field-checkbox {
    width: 30px;
  }
}