// flashメッセージのためのScss nonaka
// flashメッセージのための変数
$WhiteColor: #ffffff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: tomato;
// ここまで

.notification {
  .notice {
    background-color: $light_blue;
    color: $WhiteColor;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $WhiteColor;
    text-align: center;
  }
}