
.wrapper{
  height: 100%;

  .show_card_wrapper{
    width: 500px;

    .header_title {
      margin-top: 100px;
      margin-left: 50px;
      width: 400px;
      background-color: rgb(160, 212, 245);
      color: black;
      height: 50px;
      font-size: 20px;
      text-align: center;
      padding: 10px;
    }
    .single-container {
      width: 500px;
      background-color: #f5f5f5;
      height: 100vh;
      float: right;
      position: relative;
    
      &__center {
        background-color: #f5f5f5;
        width: 100%;
        height: calc(100% - 50%);
        margin-top: 50px;
      }
    
    
    
      .creditcard_section{

        padding: 20px;
        height: 300px;
        width: 400px;
        position: absolute;
        left: 10%;
        top: 0%;
        background-color: white;
        text-align: center;
        border: 2px solid;
        border-color: rgb(160, 212, 245);  
        .container{
          margin-top: 20px;
          .creditcard-info{
            padding: 20px;
            font-size: 20px;
            border-radius: 4px;
            background-color: lightgrey;
          }
        }
        .input-half{
          width: 217px;
          margin-right: 10px;
        }
        .creditcard-info__delete{
          display: inline-block;
          position: relative;
          padding: 0.5em 1.4em;
          text-decoration: none;
          background: #668ad8;/*ボタン色*/
          color: #FFF;
          border-bottom: solid 5px #36528c;/*ボタン色より暗めに*/
          border-right: solid 5px #5375bd;/*ボタン色より暗めに*/
        }

        .creditcard-info__delete:before {  
          content: " ";
          position: absolute;
          bottom: -5px;
          left: -1px;
          width: 0;
          height: 0;
          border-width: 0 6px 6px 0px;
          border-style: solid;
          border-color: transparent;
          border-bottom-color: #FFF;
        }

        .creditcard-info__delete:after {  
          content: " ";
          position: absolute;
          top: -1px;
          right: -5px;
          width: 0;
          height: 0;
          border-width: 0px 6px 6px 0px;
          border-style: solid;
          border-color: #FFF;
          border-bottom-color: transparent;
        }

        .creditcard-info__delete:active {
          /*ボタンを押したとき*/
          border:none;
          -webkit-transform: translate(6px,6px);
          transform: translate(6px,6px);
        }
        .creditcard-info__delete:after, .creditcard-info__delete:active:before {
          content: none;/*ボタンを押すと線が消える*/
        }
  
        .new-card-btn{
          text-decoration: none;
          color: white;
          margin-top: 30px;
          border-radius: 0px;
          background-color: skyblue;
          border: 0px solid rgb(25, 123, 161);
  
        }
  
  
      }
    }

  }

  
}


footer {
  clear: both;
  background-color: $DarkColor;
  padding: 60px 0;
  color: $WhiteColor;
  text-align: center;
  .Container {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
  }
  .Footer__Logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    a {
      cursor: pointer;
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
  p {
    font-size: 14px;
  }
}