// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.buy-wrapper{
  background-color: #eee;
  padding: 40px 0;
  &__header{
    align-items: center;
    .FURIMALogo{
      height: 60px;
      width: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__main{
    width: 720px;
    padding-bottom: 30px;
    background-color: white;
    margin: 20px auto 0;
    &__title{
      margin: 0 auto;
      font-size: 20px;
      font-weight: bold;
      padding: 20px 0px;
      width: 300px;
      display: flex;
      justify-content: space-between;
      .light{
        font-size: 12px;
        padding-top: 6px;
        position: relative;
        font-weight: normal;
      }
      .space{
        padding-right: 56px;
      }
      .width{
        width: 170px;
        font-size: 12px;
      }
      .center{
        margin: 0 auto;
      }
      img{
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
      }
    }
    &__contents{
      width: 300px;
      margin: 0 auto;
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__left{
        width: 140px;
        height: 100px;
        object-fit: cover;
      }
      &__right{
        width: 140px;
        font-size: 14px;
        line-height: 24px;
      }
    }
    &__pay-btn{
      display: block;
      margin: 30px auto 0;
      text-align: center;
      color: white;
      padding: 10px;
      width: 300px;
      background-color: gray;
      text-decoration: none;
    }
    .border{
      border-bottom: 1px solid #eee;
    }
  }
  &__footer{
    align-items: center;

    &__text{
      display: flex;
      align-items: center;
      justify-content: center;
      .Policy{
      font-size: 10px;
      text-decoration: none;
      color: darkgray;
      text-decoration: none;
      margin: 30px 10px auto;
      }
      .TermsOfService{
        font-size: 10px;
        text-decoration: none;
        color: darkgray;
        text-decoration: none;
        margin: 30px 10px auto;
      }
      .SpecificCommerce{
        font-size: 10px;
        text-decoration: none;
        color: darkgray;
        text-decoration: none;
        margin: 30px 10px auto;
      }
    }
    &__logo{
      align-items: center;
      .WhiteLogo{
        height: 50px;
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }
    }
  }
}