%body
  %header
    %div headerInner
      %div mainHeader
        %h1.icon
        %div searchBox
          %form(action="#")
            %input
            %input--searchBox キーワードから探す
            %button
              %div searchaBox__icon
                %img
    %ul resultLists
  %div nav
    %ul listsLeft
      %li listsLeft__item--first カテゴリー
      %a catBtn
      %div tree displayNone
        %ul categoryTree
          %li categoryTree--item レディース
          %li categoryTree--item メンズ
          %li categoryTree--item　ベビー・キッズ
          %li categoryTree--item　インテリア・住まい・小物
          %li categoryTree--item　本・音楽・ゲーム
          %li categoryTree--item　おもちゃ・ホビー・グッズ
          %li categoryTree--item　コスメ・香水・美容
          %li categoryTree--item　家電・スマホ・カメラ
          %li categoryTree--item　スポーツ・レジャー
          %li categoryTree--item　ハンドメイド
          %li categoryTree--item　チケット
          %li categoryTree--item　自動車・オートバイ
          %li categoryTree--item　その他
      %li listLeft__item
        %a(href="#")ブランド
        %ul brandsPulldown displayNone
    %ul listsRight
      %li listsRight__item listsRight__item--login
        %a(href="#")ログイン
      %li listsRight__item listsRight__item--new
        %a(href="#")新規会員登録
  %nav breadrumbs
    %ul
      %li
  %div main
    %div showMain
      %div contentLeft
      %dev contentRight
        %div Topcontent
          %div itemBox
            %h2 itemBox__name
           %div itemBox__body
              %ul
                %li
                %li
                %li
            %div itemBox__price
            %div itemDetail
            %div table
            %div optionalArea
          %div commentBox
        %ul links
        %div relatedItems
  %div appanner
    %div inner
      %h2 inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p inner__text 今すぐ無料ダウンロード！
      %div inner__icon
        %li
        %li
      
  %footer
    %ul contents
    %dib footer__logo
    %p ©︎　FURIMA
  %a(href="#")
    %div purchaseBtn
      %span purchaseaabtn__text
      %img purchaseaBtn__icon